/* 2.home-hero-container  */
.home-hero-container {
  height: 670px;
}

.main,
#focus {
  /* 相对定位占有位置，后继的标准流盒子不会顶上来  并且 相对定位的块级可以拿到父级的宽度*/
  position: relative;
  height: 460px;
}

/* 轮播图相关样式 */


/* 箭头按钮 */

#arrow-pre,
#arrow-next {
    position: absolute;
    top: 50%;
    /* 这里不能写left，right和left是两个不同的属性，前者并不会层叠后者*/
    /* left: 0; */
    margin-top: -35px;
    width: 40px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #cecfcf;
    font-family: 'icomoon';
    font-size: 18px;
    /* html文件中箭头按钮是放在图片之前的，而图片又是绝对定位的，在渲染时会把按钮覆盖，所以要*/
    z-index: 2;
}

#arrow-pre {
  left: 234px;
  border-radius: 0 3px 3px 0;
}

#arrow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#arrow-pre:hover,
#arrow-next:hover {
  background: rgba(0, 0, 0, .4);
  color: #fff;
}

/* 小圆圈按钮 */
#circle {
  position: absolute;
  right: 30px;
  bottom: 15px;
  z-index: 2;
  width: 400px;
  padding: 10px 0 10px 310px;
}

#circle li {
  /* 用right 第一个li会排在最右边 */
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 50%;
  background: rgba(0, 0  , 0, .4);
  cursor: pointer;
}

#focus a {
  display: inline-block;
}

#focus img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  opacity: 0;
  transition: all .9s linear;
  z-index: 0;
}

/* 图片的动画效果 */
#focus .active1 {
  opacity: 1;
  z-index: 1;
}

/* 小圆圈的变化效果 */
#focus .active2 {
  border-color:  rgba(0, 0  , 0, .4);
  background: rgb(255, 255, 255, .3);
}  








/* 目录加定位 */
.main .site-category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 234px;
  height: 460px;
  padding: 20px 0;
  background: rgba(105, 101, 101, .6);
}

.site-category a {
  display: block;
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  font-size: 14px;
  color: #fff;  
}

.site-category a:hover {
  background: #ff6700;
}


/* 推荐模块 */
.recom {
  margin-top: 14px;
  height: 170px;
}

.recom a{
  display: block;
}

.home-channel-list {
  float: left;
  width: 234px;
  height: 170px;
  background: #5f5750;
  margin-right: 2px;
}

.home-promo-list {
  float: left;
}

.home-promo-list li{
  float: left;
  margin-left: 14px;
}

.home-promo-list img {
  width: 316px;
  height: 170px;
}


/* page-main模块 */
.page-main {
  background: #f5f5f5;
  padding: 4px 0 12px 0;
}

/* 可复用的类 */
/* h2自身的样式会覆盖继承得到的，所以这里要使用h2 */
.title {
  line-height: 58px;
  font-weight: 200;
  font-size: 22px;
  color: #333;
}

.home-banner-box {
  margin: 32px 0 22px;
}

.home-banner-box a {
  display: block;
}

.home-banner-box img {
  width: 1226px;
  height: 120px;
}

/* 秒杀 */
.home-flashsale .box-bd1 {
  height: 340px;
}

.flashsale-countdown {
  float: left;
  width: 234px;
  height: 340px;
  padding-top: 39px;
  border-top: 1px solid #e53935; 
  background: #f1eded;
}

.flashsale-list {
  float: left;
  width: 978px;
  height: 340px;
  margin-left: 14px;
  background-color: black;
}


/* 手机 */
/* 公共样式 */
.common-bd-height {
  height: 614px;
}

.common-left {
  float: left;
  width: 234px;
  height: 614px;
}

.common-right {
  float: left;
  width: 992px;
  height: 614px;
}

.common-li {
  float: left;
  width: 234px;
  height: 300px;
  margin: 0 0 14px 14px;
  background: #fff;
}

.common-a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  text-align: center;
}

.common-img {
  width: 160px;
  height: 160px;
}

.common-h3 {
  margin: 14px 10px 2px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.common-p {
  margin: 0 10px 10px 10px;
  font-size: 12px;
  line-height: 18px;
  color: #b0b0b0;
}

.common-price {
  margin: 0 10px;
  font-size: 14px;
  line-height: 21px;
  color: #ff6700;
}

.common-del {
  color: #b0b0b0;
}

/* 用得比较少的 */
.common-a2 {
  display: block;
}

.common-li2 {
  margin-left: 0;
}

.common-img2 {
  width: 234px;
  height: 614px;
}

.common-img3 {
  width: 234px;
  height: 300px;
}






