/* 版心 */
.container {
  width: 1226px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float:right
}

/* 1.1 site-topbar模块 */
.site-topbar {
  height: 40px;
  background-color: #333333;
}

.site-topbar li {
  float: left;
  line-height: 40px;
  font-size: 12px;
}

.site-topbar a {
  display: inline-block;
  color: #b0b0b0;
}

.site-topbar a:hover {
  color:#fff;
}

.site-topbar .sep {
  margin: 0 4px;
  color: #424242;
}

.shopcar {
  position: relative;
  width: 120px;
  height: 40px;
  margin-left: 24px;
  color: #b0b0b0;
  background-color: #424242;
  text-align: center;
}

.shopcar a::before {
  font-family: 'iconfont';
  content: '\e690';
  margin-right: 5px;
}

.cart-menu {
  position: absolute;
  display: none;
  top: 40px;
  left: -194px ;
  width: 314px;
  height: 100px;
  background: #fff;
  color: #424242;
  line-height: 100px;
}



/* 1.2 site-topheader模块 */
.site-topheader {
  height: 100px;
}

/* header-logo部分 */
.header-logo,
.mi-logo,
.mi-home {
  float: left;
  width: 55px;
  height: 55px;
  background-color: #ff6700;
}

.header-logo {
  overflow: hidden;
  margin-top: 22px;
}

.mi-logo {
  background: url(../images/mi-logo.png) no-repeat 3px 3px;
}

.mi-home {
  background: url(../images/mi-home.png) no-repeat 3px 3px;
}

.header-logo ul {
  width: 110px;
  transition: all .2s;
}

.header-logo ul:hover {
  margin-left: -55px;
}

.header-logo a {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

/* nav部分 */
.header-nav {
  float: left;
  width: 850px;
  height: 100px;
  padding-left: 190px;
  padding-top: 43px;
}

.header-nav li {
  float: left;
}

.header-nav a {
  padding: 26px 10px 38px 10px;
  font-size: 16px;
  color: #333;
}

.header-nav a:hover {
  color: #ff6700;
}

.header-search {
  float: right;
  width: 296px;
  height: 50px;
  margin-top: 25px;
  border: 1px solid #e0e0e0;
}

.header-search input {
  float: left;
  width: 246px;
  height: 48px;
  padding: 0 10px;
  border-right: 1px solid #e0e0e0;
  color: #757575;
}

.header-search button {
  float: left;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  font-family: "iconfont";
  font-size: 15px;
}

.header-search button:hover {
  background-color: #ff6700;
  color: #fff;
}

/* 底层模块 */
.mod-service {
  height: 80px;
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}

.mod-service li {
  float: left;
  width: 245px;
  border-right: 1px solid #e0e0e0;
  text-align: center;
}

.mod-service li:last-child {
  border-width: 0;
}

.mod-service a {
  font-size: 16px;
  line-height: 25px;
}

.mod-service li:first-child a::before {
  font-family: 'iconfont';
  content: '\e647';
  margin-right: 3px; 
  font-size: 28px;
   /* 调整字体和字体图标垂直居中 */
  vertical-align: -4px;
}

.mod-service li:nth-child(2) a::before {
  font-family: 'iconfont';
  content: '\e61f';
  margin-right: 4px; 
  font-size: 25px;
  vertical-align: -3px;
}

.mod-service li:nth-child(3) a::before {
  font-family: 'iconfont';
  content: '\e606';
  margin-right: 2px; 
  font-size: 26px;
  vertical-align: -3px;
}

.mod-service li:nth-child(4) a::before {
  font-family: 'iconfont';
  content: '\e6e0';
  margin-right: 4px; 
  font-size: 26px;
  vertical-align: -3px;
}

.mod-service li:last-child a::before {
  font-family: 'iconfont';
  content: '\e604';
  margin-right: 2px; 
  font-size: 24px;
  vertical-align: -2px;
}

.mod-help {
  height: 252px;
  padding: 40px 0;
}

.mod-help dl {
  float: left;
  width: 160px;
}

.mod-help dt {
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 18px;
  color: #424242;
}

.mod-help dd {
  margin-top: 10px;
  color: #757575;
}

.mod-help .contact {
  float: left;
  width: 252px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
}

.contact p {
  margin-bottom: 5px;
  color: #616161;   
}

.contact .phone {
  font-size: 22px;
  line-height: 22px;
  color: #ff6700;
}

.contact .call{
  display: inline-block;
  width: 118px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ff6700;
  color: #ff6700;
}

.contact .call::before {
  font-family: 'iconfont';
  content: '\e630';
  margin-right: 2px; 
  font-size: 16px; 
  vertical-align: -2px;
}

.contact .call:hover {
  background: #ff6700;
  color: #fff;
}

.contact .follow {
  position: relative;
  height: 30px;
  margin-top: 10px;
}

.follow em {
  /* 没加这句，字体图标无法正常显示 */
  font-family: 'iconfont';
  margin-left: 3px;
  font-size: 20px;
  vertical-align: -3px;
}

.td-code {
  position: absolute;
  display: none;
  top: 30px;
  right: 35px;
  width: 112px;
  height: 112px;
  background: #fff url(../images/td-code.png) no-repeat 0 1px; 
}

/* info模块 */
.info {
  height: 266px;
  padding: 30px 0;
  background: #f5f5f5;
}

.info-logo {
  float: left;
  width: 57px;
  height: 57px;
  /* margin-right: 10px; */
  background: #ff6700 url(../images/mi-logo.png) no-repeat 4px 4px;
  overflow: hidden;
  text-indent: -9999px;
}

.info-text {
  /* 这里不用浮动，而是用标准流，这样info-links可以不加浮动
  float: left;  */
  padding-left: 67px;
  line-height: 20px;
}

.info-text p,
.info-text p a {
  color: #b0b0b0;
}
.info p:nth-child(-n+2) a {
  color: #757575;
}

.info-links {
  margin: 4px 0 15px;
  padding-left: 67px;
}

.info-links img {
  height: 28px;
}

.slogan {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  font-family: KaiTi;
  color: #b0b0b0;
}