/* 2.home-hero-container  */
.home-hero-container {
  height: 670px;
}

.main,
#focus {
  /* 相对定位占有位置，后继的标准流盒子不会顶上来  并且 相对定位的块级可以拿到父级的宽度*/
  position: relative;
  height: 460px;
}

/* 轮播图相关样式 */


/* 箭头按钮 */

#arrow-pre,
#arrow-next {
    position: absolute;
    top: 50%;
    /* 这里不能写left，right和left是两个不同的属性，前者并不会层叠后者*/
    /* left: 0; */
    margin-top: -35px;
    width: 40px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #cecfcf;
    font-size: 35px;
    /* html文件中箭头按钮是放在图片之前的，而图片又是绝对定位的，在渲染时会把按钮覆盖，所以要*/
    z-index: 2;
}

#arrow-pre {
  font-family: 'iconfont';
  left: 234px;
  border-radius: 0 3px 3px 0;
}

/* 盒子中没有内容，没必要使用伪元素
#arrow-pre::before {
  font-family: 'iconfont';
  content: '\e689';
} */

#arrow-next {
  font-family: 'iconfont';
  right: 0;
  border-radius: 3px 0 0 3px;
}

#arrow-pre:hover,
#arrow-next:hover {
  background: rgba(0, 0, 0, .4);
  color: #fff;
}

/* 小圆圈按钮 */
#circle {
  position: absolute;
  right: 30px;
  bottom: 15px;
  z-index: 2;
  width: 400px;
  padding: 10px 0 10px 310px;
}

#circle li {
  /* 用right 第一个li会排在最右边 */
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 50%;
  background: rgba(0, 0  , 0, .4);
  cursor: pointer;
}

#focus a {
  display: inline-block;
}

#focus img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  opacity: 0;
  z-index: 0;
  transition: all .9s linear;
}

/* 图片的动画效果 */
#focus .active1 {
  opacity: 1;
  z-index: 1;
}

/* 小圆圈的变化效果 */
#focus .active2 {
  border-color:  rgba(0, 0  , 0, .4);
  background: rgb(255, 255, 255, .3);
}  








/* 目录加定位 */
.main .site-category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 234px;
  height: 460px;
  padding: 20px 0;
  background: rgba(105, 101, 101, .6);
}

.site-category>ul>li>a {
  position: relative;
  display: block;
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  font-size: 14px;
  color: #fff;  
}

.site-category>ul>li>a::after {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: 'iconfont';
  content: '\e608';

}

.site-category>ul>li>a:hover {
  background: #ff6700;
}




/* 最大宽度 992 */
.cate-tab-con {
  position: absolute;
  top: 0;
  left: 234px;
  display: none;
  width: 992px;
  height: 460px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

/* 无法通过结构伪类选择器进行修改，改用js试试 */
/* .site-category .cate-tab-con:nth-of-type(n+3) {
  width: 794px;
}

.site-category .cate-tab-con:nth-of-type(4) {
  width: 992px;
}

.site-category .cate-tab-con:nth-of-type(7) {
  width: 530px;
} */

.cate-tab-con ul {
  float: left;
  width: 247.5px;
  height: 460px;
}

.cate-tab-con ul a {
  display: inline-block;
  width: 100%;
  height: 74px;
  margin-left: 20px;
  padding-right: 20px;
  line-height: 74px;
  color: #333333;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cate-tab-con ul a img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.cate-tab-con ul a:hover {
  color: #ff6700;
}




/* 推荐模块 */
.recom {
  margin-top: 14px;
  height: 170px;
}

.recom a{
  display: block;
}

/* home-channel-list模块 */
.home-channel-list {
  float: left;
  width: 234px;
  height: 170px;
  padding: 3px;
  margin-right: 2px;
  background: #5f5750;
  text-align: center;
}
/* kaobei */

.home-channel-list li {
  /* 子绝父相，绝对定位不能使块级盒子在一行上显示，所以还是得添加浮动 */
  position: relative;
  float: left;
  width: 76px;
  height: 82px;
}

.home-channel-list li a {
  display: block;
  padding-top: 18px;
  /* text-overflow: ellipsis; */
  color: #fff;
  opacity: .7;
  transition: opacity .2s;
}

.home-channel-list li a:hover {
  opacity: 1;
}

.home-channel-list li img {
  /* 将图像标签转成块级元素，实现图片单独一行显示 */
  display: block;
  width: 24px;
  height: 24px;
  /* 图片水平居中，并且在通过下外边距挤开下面的文字 */
  margin: 0 auto 4px;
}

.home-channel-list li::before,
.home-channel-list li::after {
  content: '';
  position: absolute;
  background: #665e57;
}

.home-channel-list li::before {
  top: -1px;
  left: 7px;
  width: 65px;
  height: 1px;
}

.home-channel-list li::after {
  top: 6px;
  left: 2px;
  width: 1px;
  height: 70px;
}

/*  */
.home-promo-list {
  float: left;
}

.home-promo-list li{
  float: left;
  margin-left: 14px;
}

.home-promo-list img {
  width: 316px;
  height: 170px;
}


/* page-main模块 */
.page-main {
  background: #f5f5f5;
  padding: 4px 0 12px 0;
}

.box-hd1 {
  position: relative;
}

/* 可复用的类 */
/* h2自身的样式会覆盖继承得到的，所以这里要使用h2 */
.title {
  line-height: 58px;
  font-weight: 200;
  font-size: 22px;
  color: #333;
}

/* 可复用的 */
/* .box-bd1 h3,
.box-bd1 p,
.box-bd2 h3,
.box-bd2 p,
.box-bd3 h3,
.box-bd3 p,
.box-bd4 h3,
.box-bd4 p,
.box-bd5 h3,
.box-bd5 p,
.box-bd6 h3,
.box-bd6 p,
.box-bd7 h3,
.box-bd7 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

div[class^="box-bd"] h3,
div[class^="box-bd"] p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  position: absolute;
  top: 25px;
  right: 0;
}

#btn1,
#btn2 {
  float: left;
  border: 1px solid #e0e0e0;
  padding: 3px 5px;
  width: 36px;
  height: 24px;
  background-color: #f5f5f5;
  font-family: "iconfont";
  color: #919191;
}

#btn1:hover,
#btn2:hover {
  color: #ff6700;
}

.home-banner-box {
  margin: 32px 0 22px;
}

.home-banner-box a {
  display: block;
}

.home-banner-box img {
  width: 1226px;
  height: 120px;
}

/* 秒杀 */
.home-flashsale .box-bd1 {
  height: 340px;
}

.flashsale-countdown,
.flashsale-list li {
  float: left;
  width: 234px;
  height: 340px;
  padding-top: 39px;
  border-top: 1px solid #e53935; 
  background: #f1eded;
  text-align: center;
}

.flashsale-list {
  position: relative;
  float: left;
  overflow: hidden;
  /* 这里宽度被写死了，但是可以通过增大ul的宽度，保证li不掉下来 */
  width: 992px;
  height: 340px;
}

.flashsale-list ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 9999px;
}

.flashsale-list li  {
  margin-left: 14px;
  background-color: #fafafa;
}

.flashsale-list a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.flashsale-list img {
  width: 170px;
  height: 170px;
}

.flashsale-list h3 {
  margin: 16px 20px 4px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.flashsale-list p {
  margin: 0 20px 10px 20px;
  font-size: 12px;
  line-height: 18px;
  color: #b0b0b0;
}

.flashsale-list span {
  font-size: 14px;
  line-height: 21px;
  color: #ff6700;
}

.flashsale-list del {
  color: #b0b0b0;
}



/* 手机 */
/* 公共样式 */
.common-bd-height {
  height: 614px;
}

.common-left {
  float: left;
  width: 234px;
  height: 614px;
}

.common-right {
  float: left;
  width: 992px;
  height: 614px;
}

.common-li {
  float: left;
  width: 234px;
  height: 300px;
  margin: 0 0 14px 14px;
  background: #fff;
}

.common-a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  text-align: center;
}

.common-img {
  width: 160px;
  height: 160px;
}

.common-h3 {
  margin: 14px 10px 2px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.common-p {
  margin: 0 10px 10px 10px;
  font-size: 12px;
  line-height: 18px;
  color: #b0b0b0;
}

.common-price {
  margin: 0 10px;
  font-size: 14px;
  line-height: 21px;
  color: #ff6700;
}

.common-del {
  color: #b0b0b0;
}

/* 用得比较少的 */
.common-a2 {
  display: block;
}

.common-li2 {
  margin-left: 0;
}

.common-img2 {
  width: 234px;
  height: 614px;
}

.common-img3 {
  width: 234px;
  height: 300px;
}